.green{/*绿色*/
  color: #009E0F !important;
}
.red{/*红色*/
  color: #FF0000 !important; 
}
.purple{/*紫色*/
  color:#6E56AB !important;
}
.orange{/*桔黄色*/
  color:#D6661A !important;
}
.orangeRed{/*桔红色*/
  color:#ff4500 !important;
}
.grassGreen{/*草绿色*/
    color: #93C47D !important;
}
.yellow{/*黄色*/
    color:#FFD966 !important;
}
.lightYellow{/*浅黄色*/
    color:#FFE084 !important;
}
.blueness{/*青*/
    color:#7bbfea !important;
}
.xinqiaoColor{/*新桥色*/
    color:#65c294 !important;
}

textarea{
margin-bottom:7px;
}
.blue{/*蓝色*/
    color:#0099FF;
}
.lightblue{/*淡蓝色*/
    color:#0099FF;
}
.gray{/*灰色*/
    color:#CDCDCD;
}
.lightGray{/*淡灰色*/
    color:#EEEEEE;
}

.lightGreen{/*浅绿色*/
	color:#b2d235;
}
.flickr{
    height:60px;
    min-height:60px;
}

.status_green{
	color:#179335;
}

.status_orange{
	color:#FFC48E;
}
.status_red{
	color:#FC7474 ;
}

/* 下拉箭头状态     下拉宽度控制样式  */
.combo-arrow{opacity:1  !important;
    filter: alpha(opacity=100)  !important;}
.formDorw-width .textbox .textbox-text{
	width: 94% !important;
}
/*禁用掉tr表格不用状态*/
.tr-Disable{
    opacity: 0.75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
    background-color:#fcfcfc;
 }
.tr-Disable td{
    color:#999999 !important;
}
/*其他预案现在*/
.selection-plan{/*涉及预案 - 选择预案*/
    position:absolute !important;
    margin-top: 5px;
    right:52px;
    float:right;
}
.fieldset-border{
    border:1px dashed #00A7C9;
    padding:0px;
}
.fieldset-border legend{
    font-weight: bold;
    padding: 5px 10px;
    background:#fff;
    border:1px dashed #00A7C9;
}
.other-plan{
    overflow: hidden;
    margin-top:5px;
}
.other-plan a{
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.6em;
    border: 1px solid #d4d4d4;
    margin: 0px 5px 5px 0px;
    text-decoration: none;
    text-align: center;
    font:12px/normal 微软雅黑;
    color: #333;
    white-space: nowrap;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    display: inline-block;
    /* IE hacks */
    zoom: 1;
    *display: inline-block;
}
/*特殊的天、小时、分钟输入框*/
.dateImput {
  width: 100%;
  height: 30px;
}
.dateImput li {
  float: left;
  line-height: 26px;
  width:16.6%
}
.dateImput li input {
  border:1px solid #95B8E7;;
  text-align: center;
  width:98%;
}
.dateImput li.text {
  padding: 0px 5px;
}

.other-plan a:hover,
.other-plan a:active,
.other-plan a.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}
.other-plan a i.fa{
    cursor: pointer;
}
.other-plan a i.fa:hover{
    color:#FF4100;
}
.form-col-9.lista a{
    line-height: 25px;
    text-decoration:none;
    color:#333;
}
.form-col-9.lista a:hover{
    color:#0099C6;
    text-decoration:underline;
}

iframe{
    border:0px;
}
.panel-title{
    font-family:'微软雅黑';
    /*color: #0099FF;*/
}
body.panel-noscroll{
    overflow: auto;
}
.ui_content.ui_state_full{
    width: 99.8% !important;
}
.icon-search{
    background:url('../images/main/icon-search.png') no-repeat center center;
}

.layout-panel-south.layout-split-south{
    border: 0px;
}
.noTable{/*清除table表格的边框线*/
    width:100%;
    background: #FFFFFF !important;
}
.noTable tr td{
    border: none !important;
    padding:2px;
}
.noTable tr td p{
    padding:2px 0px;
}
.noTable tr td.td35{
    border: none !important;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    width: 100%;
    color:#333333;
    font-family:"微软雅黑";
    outline: none;

    padding:5px 0px 5px 3px;
    border: 1px solid #95B8E7;
    background-color: #FcFcFc;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
/*textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, 
input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{
    background-color: #FFF3F3;
    padding:5px 0px 5px 3px;
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
} */

.textbox{ /*下拉框*/
    width: 100%;
    height: 28px !important;
    border: 1px solid #95B8E7;
    outline: none;
    color:#333333;
    padding: 0px 0px 0px 3px;
    background-color: #fcfcfc;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
.textbox input{
	margin: 0px;
	padding: 4px;
	border:0px;
}
.textbox input:focus{
    background-color: #FFF3F3;
    padding:4px;
    margin:0px;
    border: 0px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 0px rgba(81, 203, 238, 1);
	-webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    border-radius:0px;
}

.formtable{
    width: 100%;
}

/**选择框 search_div  通用样式**/
.search_bar {
    padding:0px 5px 5px 5px ;
    min-height: 33px;
    border-width:0px 1px;
    border-color:#95B8E7;
    border-style: solid;
    background: #f7f7f7;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fcfcfc),to(#eee));
    background-image: -webkit-linear-gradient(top,#fcfcfc,0%,#eee,100%);
    background-image: -moz-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#eeeeee',GradientType=0);
}   
.search_bar ul{
    margin:0px;
    padding: 0px;
}
.search_bar ul li{
    font-family:"微软雅黑";
    float: left;
    padding-right: 5px;
    padding-top:5px;
    vertical-align: middle;
}
.search_bar input{
    font-family:"微软雅黑";
    font-size: 12px;
    width:100px;
    height: 24px;
}

.search_bar ul li textarea, 
.search_bar ul li input[type="text"], 
.search_bar ul li input[type="password"], 
.search_bar ul li input[type="datetime"], 
.search_bar ul li input[type="datetime-local"], 
.search_bar ul li input[type="date"], 
.search_bar ul li input[type="month"], 
.search_bar ul li input[type="time"], 
.search_bar ul li input[type="week"], 
.search_bar ul li input[type="number"], 
.search_bar ul li input[type="email"], 
.search_bar ul li input[type="url"], 
.search_bar ul li input[type="search"], 
.search_bar ul li input[type="tel"], 
.search_bar ul li input[type="color"]{
    padding: 1px 0px 1px 3px;
}
.search_bar ul li textarea:focus, 
.search_bar ul li input[type="text"]:focus, 
.search_bar ul li input[type="password"]:focus, 
.search_bar ul li input[type="datetime"]:focus, 
.search_bar ul li input[type="datetime-local"]:focus, 
.search_bar ul li input[type="date"]:focus, 
.search_bar ul li input[type="month"]:focus, 
.search_bar ul li input[type="time"]:focus, 
.search_bar ul li input[type="week"]:focus, 
.search_bar ul li input[type="number"]:focus, 
.search_bar ul li input[type="email"]:focus, 
.search_bar ul li input[type="url"]:focus, 
.search_bar ul li input[type="search"]:focus, 
.search_bar ul li input[type="tel"]:focus, 
.search_bar ul li input[type="color"]:focus{
   padding: 1px 0px 1px 3px;
} 



.search_bar ul li .textbox{ /*下拉框*/
    height: 24px !important;
    width:120px !important;
    color: #333333;
    font-size: 12px;
    outline: none;
    padding: 0px 0px 0px 3px;
    margin:0px 1px 0px 0px;
    background-color: #fcfcfc;
    border: 1px solid #54A5D5;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
.search_bar ul li .textbox input{
    color: #333333;
    font-size: 12px;
    margin: 0px !important;    
    padding:5px 0px 4px 3px !important;
    border:0px;
    width: 100% !important;
}
.search_bar ul li .textbox input:focus{
    background-color: #FFF3F3;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    border-radius:0px;
    box-shadow: 0 0 0px rgba(81, 203, 238, 1);
    padding:4px;
    margin:0px;
    border: 0px solid rgba(81, 203, 238, 1);
}




.btnSearch {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    height:23px;
    line-height:16px;
    font-weight: 300;
    font-size: 12px;
    padding:1.4px 3px;
    font-family:"微软雅黑";
    color: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
    background: -webkit-linear-gradient(top, #00b5e5, #008db2);
    background: -moz-linear-gradient(top, #00b5e5, #008db2);
    background: -o-linear-gradient(top, #00b5e5, #008db2);
    background: linear-gradient(top, #00b5e5, #008db2);
    background-color: #00a1cb;
    border-color: #1A6FA4;
    border-style: solid;
    border-width:1px;

    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
/* line 234, ../scss/partials/_buttons.scss */
.btnSearch:hover, .btnSearch:focus {
      background-color: #00a1cb;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
      background: -webkit-linear-gradient(top, #00c9fe, #008db2);
      background: -moz-linear-gradient(top, #00c9fe, #008db2);
      background: -o-linear-gradient(top, #00c9fe, #008db2);
      background: linear-gradient(top, #00c9fe, #008db2);
}
/* line 238, ../scss/partials/_buttons.scss */
.btnSearch:active {
      background: #1495b7;
      color: #005065;
}
.datagrid-header .datagrid-cell span{
    font-size: 14px;
    font-family: '微软雅黑';
}

.importExcel{
    float: left;
}

.search_bar ul li .btnSearch .si-query{
    margin-top: 3px;
}





/*版权所有*/
.copyright{
	bottom: 0px;
	height:30px;
	min-height: 30px;
	max-height: 30px;
	width:100%;
	background:#0075A5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#006B9B), to(#008DC3));
    background-image: -webkit-linear-gradient(top, #006B9B, #008DC3);
    background-image: -moz-linear-gradient(top, #006B9B, #008DC3);
    background-image: -ms-linear-gradient(top, #006B9B, #008DC3);
    background-image: -o-linear-gradient(top, #006B9B, #008DC3);
    background-image: linear-gradient(top, #006B9B, #008DC3);
}

.copyright p{
	line-height:29px;
	text-align: center;
	color: #fff;
	font-family: "微软雅黑";

}

.error-msg{
    position: fixed !important;
    z-index: 999999999999999999 !important;
    margin:0px auto !important;
    width:600px;
    height:400px;
}
#toolbar_div a i.fa{
    margin-right:5px;
}

/*设置模板格式*/
.template_format{
    padding: 10px;
}
.template_format li{
    line-height: 20px;
    margin-bottom: 10px;
}
.template_format li label{
    display: block;
    float: left;
    width: 14em;
    text-align: right;
    line-height: 20px;
}
.template_format li input{
    display: block;
    float: left;
    width: 20em;
    text-align: left;
    line-height: 20px;
}

/*预案 创建预案*/
.process-line{/**/
    position: relative;
    width: 100%;
    margin:0px auto;
    min-height:50px;
}
.process-line ul.inLine{
    position: relative;
    text-align: center;
    /*overflow: hidden;*/
    z-index: 2;
    margin:0px auto;

}
.process-line ul.inLine li{
    display:inline-block;
    text-align: center;
    vertical-align:bottom;
    float: left;
    margin: 0px;
    padding:0px; 
    min-height:50px;
    width:133px;
}
.process-line ul.inLine li.progress-line{
    border-color:#0099FF;
}
.process-line ul.inLine li span{
    position: absolute;
    padding:5px; 
    margin: 10px 7px;
    display: block;
    text-align: center;
    line-height: 16px;
    vertical-align:bottom;
    bottom:15px;
    width: 113px;
    font-size: 14px;
    text-shadow: none;
    z-index: 10;

    clear: both;
}
.process-line ul.inLine li.active span{
    color:#ff4100;
    font-size: 12px;
    text-shadow: none;
    z-index: 10;
    clear: both;
}
.process-line ul.inLine li label{
    position: absolute;
    padding:5px; 
    margin: 10px 7px 20px 7px;
    display: block;
    text-align: center;
    line-height: 16px;
    vertical-align:bottom;
    display:none;
    bottom:15px;
    width: 113px;
    font-size: 14px;
    text-shadow: none;
    z-index: 10;

    clear: both;
}
.process-line ul.inLine li:hover{
    border:1px #e7f2f3 solid;
}
.process-line ul.inLine li:hover label{
    bottom:26px;
    background:#f9feff;
    background-position:0px -2009px; 
    display: block;
}
.process-line ul.inLine li:hover span{
    display: none
}
.process-line ul.inLine li i{
    position: absolute;
    bottom: 0px;
    width:25px;
    height:25px;
    clear: both;
    vertical-align: text-top;

    background:#696969;
    display:block;
    margin:0px auto 0px 70px;  

    font-size: 14px;
    line-height:20x;
    text-align: center;
    font-style:normal;
    vertical-align:middle;
    color: #FFFFFF;

    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.process-line ul.inLine li i:hover{    
    background:#ff4100;
}
.process-line ul.inLine li i.no-visit{/*未执行*/
    background:#9E9E9E;
}
.process-line ul.inLine li i.visited{/*执行后的*/
    background:#9DD8FF;
    line-height:19px;
    border: 2px solid #1a8acc;
}
.process-line ul.inLine li.active i{    
    background:#FFFFFF;
    border: 2px solid #1a8acc;
    line-height:19px;
    color: #1a8acc;
}

.process-line ul.inLine-border{
    position: relative;
    bottom:-40px;
    z-index: 1;
    overflow: hidden;
    margin:0px;
    padding: 0px;
}
.process-line ul.inLine-border li{
    display: block;
    float: left;
    width:116px;
    height:3px;
    padding: 0px;
    border-style:solid;/*dotted\dashed*/
    border-color:#cccccc; 
    border-width:3px 0px 0px 0px;
    
}
.process-line ul.inLine-border li.stepFirst{
    margin-left:100px;
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    -ms-border-top-left-radius:5px;
    -o-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-bottom-left-radius:5px;
    -ms-border-bottom-left-radius:5px;
    -o-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
}
.process-line ul.inLine-border li.stepLast{
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    -ms-border-top-right-radius:5px;
    -o-border-top-right-radius:5px;
    border-top-right-radius:5px;

    -webkit-border-bottom-right-radius:5px;
    -moz-border-bottom-right-radius:5px;
    -ms-border-bottom-right-radius:5px;
    -o-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}

.process-line ul.inLine-border li.step-done{/*已经做了的任务*/
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-style:solid;
    border-color:#0099FF;
    border-width:3px 0px 0px 0px;
}
.col-6-width{
    width:600px;
}
.col-5-width{
    width:800px;
}
.col-480-width{
    width:480px;
}
.col-3-width{    
    width:563px;
}

.process-line .process-bar{
    position: absolute;
    z-index: 10;
    margin-top:10px;
    margin-left: 80px;
    bottom:0px;
}
.process-line dl{
    position: relative;
    float: left;
    font-size: 12px;
    margin: 0px;
    padding: 0;
    white-space: nowrap;
    z-index: 3;
    width:118px;
}
.process-line dl dt{
    position: relative;
    font-size: 12px;
    white-space: nowrap;
    width:35px;
}
.process-line dl dt a{
    background: #7fc1c5;
    font-size: 16px;
    border-radius: 17px;
    color: #fff;
    display: inline-block;
    height:20px;
    text-align: center;
    vertical-align: middle;
    line-height:20px;
    width:20px;
}

.process-line .current dt a {
    background-color: #f66;
}
.process-line dl dd {
    font-size: 12px;
    left: -30px;
    line-height: 36px;
    /*padding: 8px 0 6px 45px;*/
    position: absolute;
    top: -30px;
    z-index: 40;
    bottom:40px;
}
.process-line dl dd .title{
    max-width:10em;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
}
.process-line dl dd .title6{/*8~10个汉字*/
    margin-left: -15px;
}
.process-line dl dd .title8{/*8~10个汉字*/
    margin-left: -22px;
}
.process-line dl dd .explain {
    color: #333;
    display: none;
    left:-40px;
    position: absolute;
    bottom:-15px;

    width:160px;
    z-index:20;
    background: #f9feff;
    border: 2px solid #C7E0E2;
    border-radius:5px;
    font-size: 12px;
    line-height:20px;
    padding:5px;
    white-space: normal;
    word-break: break-all;
    text-align: center;
}
.process-line dl dd .explain .fa{
    position: absolute;
    display:block;
    bottom: 0px;
    margin-bottom:-6px;
    text-align: center;
    font-size: 20px;
    width:160px;
    height:12px;
    color:#C7E0E2;
    clear:both;
}
.process-line dl:hover dt a {
    background-color: #f66;
}
.process-line dl:hover dd .explain{
    display:block;
}
.process-line .current  dd .explain{/*设置是否隐藏，可做调试代码*/
    /*display:block;*/
}
.process-line .home dl dt a{/*比较大一些的操作流程显示*/
    height: 34px;
    line-height: 34px;
    width: 34px;
}
.process-line .home dl dd .explain {
    bottom:0px;
}
/*应急管理模块开始*/

.form-column-1 #referPlan_id {
  text-align: left;
  line-height:25px;
}
.form-column-1 #add_precaution, 
.form-column-1 #add_category_precaution{
  text-align:left;
}
.form-column-1 #add_precaution .description, 
.form-column-1 #add_category_precaution .description{
    float: left;
    display: block;
}
.form-column-1 .scroll-box input[type="hidden"]{
    display:none;
}
.form-column-1 .scroll-box #add_precaution .row, 
.form-column-1 .scroll-box #add_category_precaution .row{
    overflow: hidden;
    clear:both;
}

.form-column-1 .scroll-box #add_precaution .row input, 
.form-column-1 .scroll-box #add_category_precaution .row input{
    margin:0px;
    float: left;
}
.form-column-1 .scroll-box #add_precaution .row .description, 
.form-column-1 .scroll-box #add_category_precaution .row .description{
    width:654px;
    margin:-3px 0px 5px 5px;
    line-height:20px;
    overflow:hidden;
}
.form-column-1 .scroll-box #add_precaution .row .description b, 
.form-column-1 .scroll-box #add_category_precaution .row .description b{
    font-family:'微软雅黑';
}
.form-column-1 .scroll-box #add_precaution .row .description:hover, 
.form-column-1 .scroll-box #add_category_precaution .row .description:hover{
    color:#0175BC;
}

.form-column-1 .scroll-box{
    padding: 5px;
    border:1px solid #95B8E7;
    width: 100%;
    min-height:28px;
    max-height:400px;
    overflow-y:auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.form-column-1 .minHeight{
    min-height:30px !important;
}

/*应急管理模块结束*/
/* 文件导入、文件上传*/
.form-file{
    margin:0px;
    clear:both;
}
.form-file .files-list{
    float: left;
    width:380px;
    padding-left: 10px;
    min-height:215px;
    height:auto;
    overflow: hidden;
    background:url('../images/main/icon-fileUpload.png') no-repeat;
}
.form-file .files-btn{
    float: right;
    width:100px;
    /*border-left:1px dotted #00a6c8;*/
    min-height:215px;
    height:auto;
    overflow: hidden;
}
.form-file .files-btn p{
    position: relative;
    margin-top: 30px;
    min-height: 30px;
    text-align: center;
    clear: both;
}
.form-file .files-btn p .btnSave input[type="file"].uploadify{
    width:80px !important;
    margin: 0px;
    padding:0px;
    border: 1px solid red;
    font-size: 12px;
    left: auto;
    right: 0px;
    top:0px;
}

.form-file .import-bar .btnSave{
    position:relative;
    left: auto ;
    outline: medium none;
    /*margin:0 0 0 -32px;*/
    letter-spacing:0px;
    cursor: pointer;
}
.form-file .fileQueue{
    overflow: hidden;
    min-height:80px;
}
.form-file .files-btn p .btnSave .uploadify{
    background-color: red;
    padding: 10px !important;
}

/* 文件导入、文件上传*/

.form-column-2 .form-group .form-col-9 .inputJobView{
    border-color:#e1e1e1;
}
/*控制特殊的table tr*/
.custom-table-cell-rownumber{
    line-height: 70px !important;
    height: 70px;
}

/*处理google浏览器下边日期时间兼容性问题*/
input.validatebox-text{
    min-width:80px;
}

/*林工的提示气泡*/
.tip-bubble {
    position: relative;
    display: inline-block;
    min-width: 30px;
    max-width: 300px;
    word-break: break-all;
    word-wrap: break-word;
    min-height: 22px;
    background: #ffffff;
    border: 1px solid #ff0000;
   -webkit- border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius:4px;
    margin-bottom: 20px;
    padding: 6px 8px;
    margin-left: 25px;
    position: fixed;
    /*-webkit-box-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
    -moz-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
    box-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);*/
}
.tip-bubble:before {
    content: '';
    display: block;
    font-size: 0;
    width: 0;
    height: 0;
    border-width: 6px;
    position: absolute;
    left: 12px; 
    border-color: #4a4c50 transparent transparent #ff0000;
    border-style: solid dashed dashed solid;
}
.tip-bubble:after {
    content: '';
    display: block;
    font-size: 0;
    position: absolute;
    left: 13px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-color: #ffffff transparent transparent #ffffff;
    border-style: solid dashed dashed solid;
}
.tip-bubble .content {
    position: relative;
    padding: 0 4px;
}


/**消息提醒Google与ie兼容性*/
.panel.window.messager-window .panel-header.panel-header-noborder.window-header{
    filter:DXImageTransform.Microsoft.gradient(startColorstr=#00C1E6,endColorstr=#00A9CC,GradientType=0);
}
.panel.window .panel-header.panel-header-noborder.window-header{
    filter:DXImageTransform.Microsoft.gradient(startColorstr=#00C1E6,endColorstr=#00A9CC,GradientType=0);
}
/*组织预案视图*/
.b-width-top{
    border-top: 1px solid #95B8E7;
}
.form-pattern .form-column-1 .form-col-9.messageSend{
    width: 960px !important;
}
.form-pattern .form-column-1 .form-col-9.messageSend textarea{
    width: 850px !important;
}
.form-pattern .form-column-1 .form-col-9.messageSend .btn-lg{
    float:right;
}
.form-pattern .form-column-1 .form-col-9.messageSend .emailContent{
    width:850px !important; 
    min-height:100px;
    display:inline-block;
}

/*
进度条加详情
*/
.progress-details{}
.progress-details dl dd .explain{
    bottom:auto;
    margin-top:13px;
    left:-47px;
}
.progress-details dl dd .explain .fa{
    bottom:auto;
    top:-15px;
}
.progress-details dl dd .explain .fa:before{
    content: "\f0d8";
}
.progress-details dl dd .explain .updDetail{
    margin:0px;
}
.progress-details dl dd .explain .updDetail li{
    display: block;
    font-size:12px;
    text-align: center;
    clear:both;
}
.progress-details dl dd .explain .updDetail li:nth-child(odd){
  color: red; 
  font-weight: bold;
  font-family:'微软雅黑';
}

.commonTipDiv{
		position: absolute;
		right:-1px;
		top:33px;
		z-index: 99999;
		display:none;
		background-color: white;
		border:1px solid #eee;
		-moz-box-shadow: 0px 0px 5px #888888;
		-webkit-box-shadow: 0px 0px 5px #888888;
		box-shadow: 0px 0px 5px #888888;
	}

	.messageShadowDiv{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:88;
		background:#000;
		opacity:0.5;
	}
	.messageTipDiv{
		width:291px;
	}
	.messageTip{
		display: inline-block;
		width:280px;
	    padding:10px;
		background-color: white;
	}

	.title-colse{
		position: absolute;
		right: -5px;
		top: -5px;
		font-size:15px;
		margin-right:10px;
		font-weight: bold;
		float:right;
        opacity: 0.6;
		filter: alpha(opacity=60);
		color:#222;
	}
	.title-colse:hover{
	        opacity:1;
    		filter: alpha(opacity=100);
    		color:red;
	}
	.conformTipDiv{
		position:fixed;
		top:30%;
		left:34%;
		width:300px;
		padding:6px;
		z-index: 99999;
		-moz-box-shadow: 0px 0px 5px #888888;
		-webkit-box-shadow: 0px 0px 5px #888888;
		box-shadow: 0px 0px 5px #888888;
		z-index:99;
		background-color: #00c8ef;
		background: -webkit-linear-gradient(top,#00c8ef 0,#00a6c8 20%);
		background: -moz-linear-gradient(top,#00c8ef 0,#00a6c8 20%);
		background: -o-linear-gradient(top,#00c8ef 0,#00a6c8 20%);
		background: linear-gradient(to bottom,#00c8ef 0,#00a6c8 20%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00c8ef,endColorstr=#00a6c8,GradientType=0);
	}
	.conformTipDiv .panel-title{
		font-size: 12px;
		font-weight: bold;
		font-family: '微软雅黑';
		color: #0E2D5F;
		height: 18px;
		line-height: 16px;
		padding:0px 5px 15px 5px;
	}
	
	.conformTipDiv .panel-title .tool-close{
		display: inline-block;
		float:right;
		width: 16px;
		height: 16px;
		opacity: 0.6;
		filter: alpha(opacity=60);
		margin: 0 0 0 2px;
		vertical-align: top;
		background: url('<%=path%>/resources/css/easyui/themes/default/images/panel_tools.png') no-repeat -16px 0px;
	}
	.conformTipDiv .panel-title .tool-close:hover{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.conformTipDiv .panel-body{
		background:#fff;
		padding:5px;
		border-width: 1px;
		border-style: solid;
		border-top-width: 0px;
		border-color:#95B8E7;
	}
	.iMessager{
	    background: url('<%=path%>/resources/css/easyui/themes/default/images/messager_icons.png') no-repeat scroll -32px 0;
	    float: left;
		width: 32px;
		height: 32px;
		margin: 0 10px 10px 0;
	}
	.iConted{
		color:#000000; 
	}
	.footer-colse{
		text-align: center;
	}

	.footer-colse input{margin:6px;}
	.footer-colse input.btnSave{
		color: #444;
		background: #F6F6F6;
		font-family:"微软雅黑";
		border: 1px solid #95B8E7;
		background: -webkit-linear-gradient(top,#F9F9F8 0,#D5D1CD 100%);
		background: -moz-linear-gradient(top,#F9F9F8 0,#D5D1CD 100%);
		background: -o-linear-gradient(top,#F9F9F8 0,#D5D1CD 100%);
		background: linear-gradient(to bottom,#F9F9F8 0,#D5D1CD 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F8,endColorstr=#D5D1CD,GradientType=0);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}
	.footer-colse input.btnSave:hover {
		background: #eaf2ff;
		color: #ffffff;
		border-color:#1A6FA4;
		border-style: solid;
		border-width:1px;
		filter: none;

		background: -webkit-linear-gradient(top,#009EDB 0,#008DC4 100%);
		background: -moz-linear-gradient(top,#009EDB 0,#008DC4 100%);
		background: -o-linear-gradient(top,#009EDB 0,#008DC4 100%);
		background: linear-gradient(to bottom,#009EDB 0,#008DC4 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009EDB,endColorstr=#008DC4,GradientType=0);
		}
