<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 设置配置文件，方便在java类中用注解获取值 -->
    <bean id="props" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <array>
                <value>classpath:props/system.properties</value>
            </array>
        </property>
    </bean>
    <import resource="classpath*:spring/spring-persistence.xml"/>
    <import resource="classpath*:spring/spring-core.xml" />
    <import resource="classpath*:spring/spring-activiti.xml"/>
</beans>